## Assignment 1:

Make your computer shout you out!
#Programming a computer seems complicated but in reality, it is just learning the commands #your
computer understands so you can make it do what you want it to do. The material does this #to is
data, that can be numbers, strings (sets of characters enclosed in ""), or a boolean which
#represents true and false, 0 or 1.
#In order for your computer to show text on a screen you must tell it what you want it to say with a
#print statement
#Ex1:
print "Hello World"
#Output would be: Hello World
#you can also capture strings and number and save them under names called variables:
greeting = "Hello World"
print greeting
#Output would be: Hello World
#Ex 2
#You can also take words user's input (or from other sources) and sub them into your string
#in the below example we have a variable that will save a users input for their favorite food:
fav_food = input("What is your favorite food?")
print "My favorite food is " + fav_food
#OUTPUT:
#"What is your favorite food?: Burgers"
#My favorite food is Burgers

In [1]:
# EX1
print("Hello World")

Hello World

In [2]:
greeting = "Hello World"
print(greeting)

Hello World

In [6]:
# Ex2
fav_food = input("What is your favorite food?: ")
print("My favorite food is " + fav_food)

What is your favorite food?: Burgers
My favorite food is Burgers

In [7]:
My_Name = input("What is your Name?: ")
print("My Name is " + My_Name)

What is your Name?: Sonali
My Name is Sonali

# Assignment 2:

#Programming uses numbers, but thankfully you don't need to be a math genius to program. #Programming
can be used to evaluate mathematical statements, you can also compare numbers to each-other #Ex1:
4+4
#Output: 8
#Ex2:
17<3
#OUTPUT: False
#We can also place a condition on the result of such a test:
#Ex2
example = 7
if example > 8:
print "over"
else:
print "under"
#OUTPUT: under
#You can do this to compare numbers to each-other
#Lastly we have lists and loops, a list is just a collection of strings, numbers, or other pieces of data
nums = [1,14,32,5,7]
#here we have a list of numbers we can write a for loop to list them out for us, note the indented
#command will run on all the numbers in the list num
for num in nums:
print num
#Output:
#1
#14
#32
#5
#7

In [8]:
#ex 1
4+4

8

In [9]:
#Ex 2
17<3

False

In [10]:
#ex 3
example = 7 
if example > 8: 
    print("over")
else: 
    print("under")

under

In [11]:
nums = [1,14,32,5,7]
for num in nums:
    print(num)

1
14
32
5
7

Now create a loop that compares the list of numbers provided for the number 25,  
print over if it is over and under if it is under  
over_under_list = [1,45,32,21,5,17,43,93]

In [16]:
over_under_list = [1,45,32,21,5,17,43,93]
for num in over_under_list:
    if num < 25:
        print(num,":under")
    else:
        print(num,":over")

1 :under
45 :over
32 :over
21 :under
5 :under
17 :under
43 :over
93 :over

# ASSIGNMENT 3

Name comparison:
#With your newfound skills we are going to add one new thing -- the len function.
#The len function will tell you the length of the string:
len("hello") #5
name = "joe"
len(name) # 3
Create a script that loops through a list of names, comparing the length of each name to the
length of all other names in the list finally printing out only the largest name
names_list = ["bob","jimmy","max b", "bernie", "jordan", "future hendrix"]
#hint it should look something like this:
#longest_name = '' empty string as placeholder
#for name in names_list :

#if len(name)>longest_name:
#do something maybe reassign the longest name variable
#else:
#do another thing
#print longest_name

In [39]:
names_list = ["bob","jimmy","max b", "bernie", "jordan", "future hendrix"]
longest_name = ''
for name in names_list:
    if len(name) > len(longest_name):
        longest_name = name
    else:
        print(longest_name)
        
print(longest_name)

jimmy
bernie
future hendrix

# ASSIGNMENT 4

Functionally Literate:
#So far all the code we created only runs once, however code can be encapsulated in a
#function to be run multiple times, and to be run with placeholder inputs
#ex1 greeting
def greet(name):
print "hello " + name
#the indented code runs every-time we call the function into existence
greet('joe')# "hello joe"
greet('sam')# "hello sam"
#functions can and usually do return a value this is not going to print, but can be assigned
#to a variable and printed
def add(num1,num2):
return num1+num2
add(1,2) #no output
num_sum = add(1,2)
print num_sum # OUTPUT: 3

In [45]:
def greet(name):
    print("hello " + name)
    
greet('joe')
greet('sam')

hello joe
hello sam

In [46]:
def add(num1,num2):
    return num1 + num2

In [48]:
num_sum = add(1,2)
print(num_sum)

3

In [60]:
names_list = ["bob","jimmy","max b", "bernie", "jordan", "future hendrix"]

def long_name(names_list):
    longest_name = ''
    for name in names_list:
        if len(name) > len(longest_name):
            longest_name = name
    return longest_name

In [61]:
big_name = long_name(names_list)
print(big_name)

future hendrix

# ASSIGNMENT 5

#all strings and lists have individual characters and items respectfully represented by an index number
#this starts at 0, and can be accessed in bracket notation
thing = "car"
thing[0]#c
thing[2]#r
list = ["one",2,"3hree"]
list[2] # 3hree

#
print both lists and then return the even one and print

In [62]:
thing = "car"
thing[0]

'c'

In [63]:
thing[2]

'r'

In [64]:
list1 = ["one",2,"three"]
list1[2]

'three'

create a function that takes the below list of names, and separates them into two  
lists one of the names with an even number of letters and one with an odd number of  
letters.  
Then take the first letter of each of the names in the even list and make it the  
letter "b", take the last letter in each of the names in the odd list and make them  
a “c”  
Print both lists and then return the even one to a variable named even_list and
print it again.  
names_list = ["bob","jimmy","max b", "bernie", "jordan", "future hendrix"]

In [91]:
names_list = ["bob","jimmy","max b", "bernie", "jordan", "future hendrix"]
even_list =[]
odd_list =[]
def even_odd_list(names_list):
    for name in names_list:
        name = name.strip()
        if len(name) % 2 == 0:
            even_change = list(name)
            even_change[0] = "b"
            even_change =''.join(even_change)
            even_list.append(even_change)
        else:
            odd_change = list(name)
            odd_change[-1] = "c"
            odd_change =''.join(odd_change)
            odd_list.append(odd_change)
    return even_list, odd_list

In [92]:
even_list, odd_list = even_odd_list(names_list)

In [93]:
print(even_list)
print(odd_list)

['bernie', 'bordan', 'buture hendrix']
['boc', 'jimmc', 'max c']